.texto {
    letter-spacing: .2rem;
    font-size: 16pt;
}

.texto-logo {
    letter-spacing: .2rem;
    font-size: 20pt;
}

a {
    cursor: pointer;
}
.teste {
    background-color:#F8F9FA;
    z-index: 1;
}
span {
    background-color:#F8F9FA;
    padding: 10px;
    z-index: 1;
}

