<div class="container-fluid">

    <div class="row mt-5 mb-5">
        <div class="col-md-3">

        </div>
        <div class="col-md-7">
            <div class="card card-color borda w-100 d-flex justify-content-center shadow" style="width: 18rem;">
                <div class="card-body">
                    <div class="form-group">
                        <label for="titulo" class="text-monospace text-light">Título da postagem</label>
                        <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp"
                            placeholder="Digite aqui o seu título" [(ngModel)]="postagem.titulo">
                    </div>

                    <div class="form-group">
                        <label for="texto" class="text-monospace text-light">Texto da postagem</label>
                        <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"
                            [(ngModel)]="postagem.descricao"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-monospace text-light" for="imagem">Imagem:</label>
                                <img src="" class="w-100" alt="" id="imagem-preview">
                                <input type="file" (change)="carregarImagemPreview($event)"
                                    [(ngModel)]='postagem.imagem'>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-monospace" for="video" class="text-monospace text-light">Vídeo:</label>
                                <input type="text" class="form-control" id="video"
                                    placeholder="Copie e cole o link do video aqui!" [(ngModel)]='postagem.video'>
                            </div>
                        </div>
                    </div>


                    <div class="form-group m-0">
                        <label class="text-monospace" for="tema" class="text-monospace text-light">Escolha um tema ou <a
                                routerLink="/cadastro-tema" class="text-monospace text-light">Cadastre um novo</a></label>
                        <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
                            (change)='findByIdTema()'>
                            <option *ngFor='let item of listaTemas' value={{item.idTema}}>
                                {{item.materia}} - {{item.serie}}

                            </option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-outline-light w-25" (click)="salvar()">Salvar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>