<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center pt-5 ml-3">
        <img class="card-img-top rounded-circle w-75 shadow"
            src="https://imgur.com/NFv06tS.jpg"
            alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Christian</h5>
        <p class="card-text text-center text-monospace">Desenvolvedor Java Jr. Full Stack | Médico Veterinário</p>
        <a href="https://br.linkedin.com/in/christian-garcia-amantino-0775101a7" class="btn btn-outline-info mb-3 d-flex justify-content-center"
            target="_blank">LinkedIn</a>
        <a href="https://github.com/ChrisAmantino" class="btn btn-outline-secondary d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>
