.icone {
    letter-spacing: .1.8rem;
    font-size: 12pt;
    color: rgba(27, 27, 27, 0.781);
}
.icone:hover {
    color: rgba(27, 27, 27, 0.781);
}
.navbar-left-color {
    background-color:  #C4F7FC;
}
 .bg-gif {
    border-color: #7377a096;
    border-radius: 25px ;
} 

.drop {
    background-color: #C4F7FC;
   
}

/* .navbarleft {

    
} */


