
/*inicio*/


.botton-a{

  border-radius: 10px;
  opacity: 0.9;
  border: none;

}

.botton-a:hover{
  background-color: rgba(102, 51, 153, 0.76);
  color: rgb(255, 255, 255);
  border: none;
}

/*  /inicio*/



h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }
  
  .ajuste-tela {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
  .ajuste-tela h2 {
    padding-top: 90px;
  }
  
  .bg {
      background-color: rgb(250, 250, 250);
  }
  
  .colorV {
    color: #00A56D;
  }
  
  
  
  .colorv {
    color: #3f9ba1a1;
  }
  
 

  .colorv2-bg {
    background-color: #7bb997;
  }

  .colorv3-bg {

    background-color: #faf9fd5b;
}

  
  .colorA {
    color: #FFFF59;
  }
  
  
 
  
  .shadow {
    box-shadow: 5px 5px 5px rgba(80, 80, 80, 0.548);
  }
  
  /* /GERAL */
  
  
 .bg-img {
      background-image: url("https://cutewallpaper.org/21/gif-wallpaper-anime/Animated-GIFs-for-use-in-wallpapers.gif");
      width: 100%;
      height: 600px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;   
  } 
  
  


  #topo h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #topo h3 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #mascotetopo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #topo .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }
  
  #topo .btn-get-started:hover {
    background: #209dd8;
  }
  
  .img-hover:hover {
      filter: grayscale(100%);
  }
  .card-w {
      display: flex;
      justify-content: flex-start;
  
  }
  
  .card-ps img {
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    margin-left: 15px;
  }


  /*card motivos*/

  
  .colorA1 {
    background-color: rgb(189, 235, 221);
  }
 

  .colorAz-bg {
    background-color: #e0f0f0
  }
   
  .colorA-bg {
    background-color: #98a0eb93;
  }
 
  .colorv-bg {

    background-color: #7377a096;
}


  /* /card motivos */

  /*trilhazinha*/



  .brain {

    width: 300px;
    height: 300px;
    vertical-align: middle;
    border-style: none;

  }

  .text-a {
   margin-top: auto;
   margin-bottom: auto;


  }

  /*prova social*/

  

.card-PS {

  border-radius: 10px;
}

/* /prova social */

  
  /* paralax css */
  .parallax {
      background-image: url("https://images.squarespace-cdn.com/content/v1/57ad2403ebbd1aed407cb884/1569036906517-HQDT9PJVJ13IPYEHUEA3/ke17ZwdGBToddI8pDm48kD6g6d_8IznzvwGE9lO5DQoUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2duEISsHSdlwfVfJzHpfD8tDF_rm8Lz0236jM3eVzXh5_CjLISwBs8eEdxAxTptZAUg/SLATE_22.gif");
      min-height: 300px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }
  /* / parallax*/
 

  


  /* missao e valores*/

  .img-teste {

    width: 100%; /*largura*/
     }

  .tamanho-2 { 
    
    height: 600px;
    display: flex;
    align-items: stretch;
    
   
  }

  .subtam-1
  {

    background-color: #f8fdfd;
    justify-content: flex-start;
    align-items: center;
  }
   
  .subtam-2 {

    
    padding: 20px;
    margin: 20px;
  }


 /* /missao e valores */
  
    /* cards quem somos */

    .container_ {
      width: 100%;
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-container_ {
      height: 270px;
    }
    .card_ {
      width: 100%;
      height: 100%;
      transition: transform 1s ease-in-out;
      transform-style: preserve-3d;
    }
    .card-container_:hover .card_{
      transform: rotateY(180deg);
    }
    .card_ figure {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .card_ .front {
      background-size: 100%;
      color: white;
    }
    .card_ .front-1 {
      background-image: url("../../assets/img/christhianQS.jpg");
    }
    .card_ .front-2 {
      background-image: url("../../assets/img/jonathanFerreiraQS-01.jpg");
    }
    .card_ .front-3 {
      background-image: url("../../assets/img/julianaQS.jpg");
    }
    .card_ .front-4 {
      background-image: url();
    }
    .card_ .front-5 {
      background-image: url("../../assets/img/vivianQS.jpeg");
    }
    .card_ .back {
      background-color: #47B2E4 ;
      color: white;
      transform:rotateY(180deg);
      border: -2px;
    }
    .socialIconsCards {
      display: flex;
      color: inherit;
      padding: 10px 20px 0 20px;
    }


    .colorV-bg {
      background-color:#a5afdda2;
    }


    .text-alinha {

      padding: 20px;
    }



    /* /cards quem somos */


    /* parcerias */

