<section class="bg">


  <div class="container-fluid bg-img d-flex justify-content-center" id="topo">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h2>ASPAS a rede social do seu futuro!</h2>
          <h3>Se conecte com pessoas ao redor do mundo, com conhecimentos diversos.</h3>
          <div class="d-lg-flex">
            <a routerLink="cadastro" class="btn-get-started scrollto">Cadastre-se</a>
          </div>
        </div>
        <div class="col-lg-6 order-1" id="mascotetopo">
          <img src="../../assets/img/mascote.png" alt="">
        </div>
      </div>
    </div>
  </div>


  <!-- Cards motivos -->
  <div class="container w-100 ajuste-tela">
    <h2 class="text-center">Por que ingressar na ASPAS ?</h2>
    <div class="row mt-5 mb-5">
      <div class="col-sm-6">
        <div class="card shadow">
          <div class="card-body colorA-bg">
            <h5 class="card-title">Título especial</h5>
            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
            </p>
            <a href="#" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow">
          <div class="card-body colorV-bg">
            <h5 class="card-title">Título especial</h5>
            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
            </p>
            <a href="#" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card shadow">
          <div class="card-body colorv-bg">
            <h5 class="card-title">Título especial</h5>
            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
            </p>
            <a href="#" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card shadow">
          <div class="card-body colorAz-bg">
            <h5 class="card-title">Título especial</h5>
            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
            </p>
            <a href="#" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
    </div>
    <span class="icone-scroll">
      <span class="scroll-next scroll"></span>
    </span>
  </div>
  <!-- /Cards motivos -->

  <!-- prova social de perfis-->

  <div class="container">

    <div class="row mt-5 mb-5">

      <div class="container center">
        <h2>Conheça alguns perfis da nossa rede e venha hoje aprender conosco!</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid colorv-bg tamanho-1">
    <div class="container w-100 d-flex-justify-content-center">
      <div class="row">
        <div class="col-sm-4">
          <div class="card mt-5 mb-5">
            <div class="card-body">
              <h5 class="card-title text-center">Jonathan Ferreira</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Instrutor de economia</h6>
              <div class="card-w">
                <div class="card-ps">
                  <img src="../../assets/img/jonathanFerreira-01.jpg" alt="" srcset="">
                </div>
                <div>
                  <p class="card-text">Sou formado em economia e contabilidade, o pais precisa de educaçao financeira.
                    Quero ensinar
                    jovens a cuidar do seu proprio dinheiro,
                    dar informaçao diversas desde a fazer sua conta no banco ate a investir! e ajudar.</p>
                  <a href="#" class="card-link">ver perfil</a>
                  <a href="#" class="card-link">Visitar as aulas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 mb-5">
            <div class="card-body">
              <h5 class="card-title text-center">Aline Diovana</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Tutora de ingles</h6>
              <div class="card-w">
                <div>
                  <img
                    src="https://censupeg-wp.s3.us-west-2.amazonaws.com/wp-content/uploads/2019/05/30013353/Icon-11-100x100.png">
                </div>
                <div>
                  <p class="card-text">Sou autoditada e poliglota há 5 anos, minha inspiraçao é que mais pessoas possam
                    ser belingues sem custo nenhum e realizar seus sonhos! vamos nos conectar.
                  </p>
                  <a href="#" class="card-link">Ver perfi</a>
                  <a href="#" class="card-link">Visitar as aulas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 mb-5">
            <div class="card-body">
              <h5 class="card-title text-center">Carlos Daniel</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Matematico ensino fundamental</h6>
              <div class="card-w">
                <div>
                  <img
                    src="https://censupeg-wp.s3.us-west-2.amazonaws.com/wp-content/uploads/2019/05/30013353/Icon-11-100x100.png"
                    alt="" srcset="">
                </div>
                <div>
                  <p class="card-text">Me formei em matematica e notei que muitos nao evoluem em seus futuros pela
                    dificuldade no basico.
                    Entao sigo meu desejo de mudar vidas atraves de video aulas, do basico ao avançado.
                  </p>
                  <a href="#" class="card-link">Ver perfil</a>
                  <a href="#" class="card-link">visitar as aulas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /prova social -->


  <!--Paralaxxx-->

  <div class="parallax"></div>

  <!--/Paralaxxx-->


  <!-- missão e valores -->

  <div class="container tamanho-1">

    <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <img src="../../assets/img/escolar1.jpg" class="img-teste" alt="" srcset="">
      </div>
      <div class="col-md-8 subtam-1">
        <h1> Acreditamos que juntos temos forças!</h1>
        <ul class="nav nav-tabs subtam-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Missão</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Visão</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Valores</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="alert alert-secondary">
              <p>
                Segundo relatórios da ONU, diversas crianças e jovens seguem sem aprender o mínimo necessário para se
                desenvolverem. Com isso, nasceu a Aspas, uma rede social que une alunos e tutores de todo o país em prol
                da construção de uma educação primária e secundária de qualidade, por meio de abordagens dinâmicas e
                atrativas.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="alert alert-success">
              <p>
                Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit
                hendrerit. Aenean sit amet nisi. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
                vulputate dapibus. Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in eros commodo
                tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="alert alert-info">
              <p>
                Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit
                hendrerit. Aenean sit amet nisi. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
                vulputate dapibus. Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in eros commodo
                tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /missão e valores -->

  <!-- Quem somos -->
  <section class="container-fluid altura1 colorV-bg">
    <div class="row quem-somos">
      <div class="container subaltura">

        <h1 class="">Quem somos?</h1>
        <h3>Conheça nosso time de desenvolvedores! </h3>
      </div>
      <div class="col-2 img-container">
        <img src="../../assets/img/jonathanFerreira-01.jpg" class="rounded-circle" alt="" srcset="">

      </div>
      <div class="col-2 img-container">
        <img src="../../assets/img/jonathanFerreira-01.jpg" class="rounded-circle" alt="" srcset="">
      </div>
      <div class="col-2 img-container">
        <img src="../../assets/img/jonathanFerreira-01.jpg" class="rounded-circle" alt="" srcset="">
      </div>
      <div class="col-2 img-container">
        <img src="../../assets/img/jonathanFerreira-01.jpg" class="rounded-circle" alt="" srcset="">
      </div>
      <div class="col-2 img-container">
        <img src="../../assets/img/jonathanFerreira-01.jpg" class="rounded-circle" alt="" srcset="">
      </div>
    </div>

  </section>
  <!-- /Quem somos -->

  <!-- aparesentaçao das parcerias-->

  <div class="container-fluid colorv3-bg alturaParc">
    <div class="tamanhoParc">
      <h3 class="text-center">Alguns de nossos apoiadores</h3>
    </div>
    <div class="row d-flex justify-content-center p-5">
      <div class="col-md-2">
        <a href="https://brazil.generation.org/" target="_blank" rel="noopener noreferrer"><img
            src="https://brazil.generation.org/wp-content/uploads/2019/03/Generation_BRASIL_logo_WHITE.svg" alt=""
            srcset="" class="img-hover"></a>
      </div>
      <div class="col-md-2">
        <a href="http://" target="_blank" rel="noopener noreferrer"><img
            src="https://brazil.generation.org/wp-content/uploads/2019/03/Generation_BRASIL_logo_WHITE.svg" alt=""
            srcset=""></a>
      </div>
      <div class="col-md-2">
        <a href="http://" target="_blank" rel="noopener noreferrer"><img
            src="https://brazil.generation.org/wp-content/uploads/2019/03/Generation_BRASIL_logo_WHITE.svg" alt=""
            srcset=""></a>
      </div>
      <div class="col-md-2">
        <a href="http://" target="_blank" rel="noopener noreferrer"><img
            src="https://brazil.generation.org/wp-content/uploads/2019/03/Generation_BRASIL_logo_WHITE.svg" alt=""
            srcset=""></a>
      </div>
      <!-- <div class="col-md-2">
        <a href="http://" target="_blank" rel="noopener noreferrer"><img src="" alt="" srcset=""></a>
      </div>
      <div class="col-md-2">
        <a href="http://" target="_blank" rel="noopener noreferrer"><img src="" alt="" srcset=""></a>
      </div> -->
    </div>
  </div>

  <!--/parcerias-->



</section>