<!-- inicio-->

<section class="bg">


  <div class="container-fluid bg-img d-flex justify-content-center" id="topo">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h2>ASPAS: a rede social do seu futuro!</h2>
          <h3>Conecte-se com pessoas de todo o país, compartilhe conhecimento e aprenda muito!</h3>
          <div class="d-lg-flex">
            <a routerLink="/cadastro" class="btn btn-light botton-a">Cadastre-se</a>
          </div>
        </div>
        <div class="col-lg-6 order-1" id="mascotetopo">
          <img src="../../assets/img/mascote.png" alt="Esta imagem representa uma lâmpada amarela, com sorriso e amigável. Ela é o mascote da plataforma.">
        </div>
      </div>
    </div>
  </div>

  <!--/inicio-->

  <!-- Cards motivos -->
  <div class="container w-100 ajuste-tela">
    <h2 class="text-center">Por que ingressar na ASPAS ?</h2>
    <div class="row mt-5 mb-5">
      <div class="col-sm-6">
        <div class="card shadow">
          <div class="card-body colorA-bg">
            <h5 class="card-title text-center">Interatividade</h5>
            <p class="card-text text-justify">Aqui na Aspas o estudante interage diretamente com os tutores, de forma que o aprendizado não seja solitário mas sim forme, junto com outros alunos, uma rede de conhecimento.
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow">
          <div class="card-body colorA1">
            <h5 class="card-title text-center">Acessibilidade</h5>
            <p class="card-text text-justify">Temos suporte a estudantes e tutores com deficiência auditiva, através da API Vlibras. Um de nossos objetivos é garantir a inclusão e a equidade entre alunes.
            </p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card shadow">
          <div class="card-body colorAz-bg">
            <h5 class="card-title text-center">Praticidade</h5>
            <p class="card-text text-justify">Nossa plataforma de educação é responsiva com possibilidade de acessso por celulares ou tablets, a qualquer momento e lugar do país. Venha conhecer nossa rede e interagir.
            </p>
           
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card shadow">
          <div class="card-body colorv-bg">
            <h5 class="card-title text-center">Conexão</h5>
            <p class="card-text text-justify">Faça seu perfil e se conecte com pessoas dispostas a partilhar seus conhecimentos, mudar vidas, aprender e mover o país todo em um só lugar. Faça a diferença na educação de alguém.
            </p>
           
          </div>
        </div>
      </div>
    </div>
    <span class="icone-scroll">
      <span class="scroll-next scroll"></span>
    </span>
  </div>

   <!-- /Cards motivos -->



      <!-- Trilhazinha -->

  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <img src="../../assets/img/cerebro2.png" class="img-teste"
            alt="Imagem de um cérebro rosa pensativo, com questões na mente.">
    </div>
    <div class="col-md-6 text-a">
        <h5 class="text-center d-flex justify-content-center mb-3 text-monospace">Para Estudantes</h5>
        <p class="text-justify">Inicie sua trajetória em busca de conhecimento na Aspas, encontrando os conteúdos que você precisa para desbravar aquela matéria, através de postagens feitas por pessoas com muita vontade de ensinar. Dificuldade em matemática? Não mais! Domine aquele assunto que você tem dúvidas. Vá adiante e aprenda mais que o ensinado na sala de aula, com matérias interdisciplinares interessantes e necessárias para aplicar no seu dia a dia. Já quis aprender outros idiomas? Saber como controlar melhor seu dinheiro, aprendendo sobre finanças? Sempre há alguém disposto a ensinar, querendo ajudá-lo! </p>
        <!--<button type="button" class="btn btn-outline-success justify-content-end">Fale conosco!</button>-->
    </div>
</div>


<div class="row d-flex justify-content-center">
    <div class="col-md-6 text-a">
        <h5 class="text-center d-flex justify-content-center mb-3 text-monospace">Para tutores</h5>
        <p class="text-justify">Se o mundo está avançando, é porque cada um de nós fizemos a diferença, através da troca de experiências e conhecimentos há milhares de anos.
          Imagine se um médico deixasse de apresentar sua descoberta? Caso ele guardasse para si, muitas vidas deixariam de ser salvas.
         Quer fazer a diferença? Torne-se hoje um(a) tutor(a) voluntário(a)! O mínimo de conhecimento que você possa ter, quando compartilhado na Aspas, é capaz de transformar o futuro de diversos brasileiros!
        </p>
       
    </div>
    <div class="col-md-3">
        <img src="../../assets/img/pink1.png" class='img-teste' alt="Imagem de um cérebro rosa com sorriso, parece que encontrou a resposta.">
        
    </div>
</div>
<hr>

<!--/trilhazinha-->

 
  <!-- prova social de perfis-->
<!-- 
  <div class="container">

    <div class="row mt-5 mb-5">

      <div class="container center">
        <h4 class= "text-center text-monospace">Conheça alguns perfis da nossa rede e venha hoje aprender conosco!</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid colorv-bg tamanho-1">
    <div class="container w-100 d-flex-justify-content-center">
      <div class="row">
        <div class="col-sm-4">

          <div class="card mt-5 mb-5 card-PS">
            <div class="card-body">
              <h5 class="card-title text-center">Jonathan Ferreira</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Instrutor de economia</h6>
              <div class="card-w">
                <div class="card-ps">
                  <img src="../../assets/img/jonathanFerreira-01.jpg" alt="" srcset="">
                </div>

                <div>
                  <p class="card-text">Sou formado em contabilidade e tenho mestrado em economia. Nosso país precisa de educação financeira,
                    quero ensinar jovens a cuidar do seu próprio dinheiro, e auxiliá-los com
                    diversas informaçães, desde a fazer sua conta no banco até a investir, no seu futuro!</p>
                  <a href="#" class="card-link">Link para o perfil</a>
                  <a href="#" class="card-link">Visitar as aulas</a>
                </div>
              </div>
            </div>

      

          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 mb-5 card-PS ">
            <div class="card-body">
              <h5 class="card-title text-center">Aline Diovana</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Tutora de ingles</h6>
              <div class="card-w">
                <div>
                  <img
                    src="https://censupeg-wp.s3.us-west-2.amazonaws.com/wp-content/uploads/2019/05/30013353/Icon-11-100x100.png">
                </div>
                <div>
                  <p class="card-text text-justify text-align">Sou autoditada e poliglota há 5 anos, minha inspiraçao é que mais pessoas possam
                    ser bilíngues sem custo nenhum e realizar seus sonhos! Eu não tive condições de pagar cursinhos, e hoje quero postar pequenos videos aulas e dicas para que 
                    cada um possa aprender por conta própria. Vamos nos conectar!
                  </p>
                  <a href="#" class="card-link">Ver perfil</a>
                  <a href="#" class="card-link">Visitar as aulas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 mb-5 card-PS">
            <div class="card-body">
              <h5 class="card-title text-center text-justify">Carlos Daniel</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Matemático EF</h6>
              <div class="card-w">
                <div>
                  <img
                    src="https://censupeg-wp.s3.us-west-2.amazonaws.com/wp-content/uploads/2019/05/30013353/Icon-11-100x100.png"
                    alt="" srcset="">
                </div>
                <div>
                  <p class="card-text text-justify">Me formei em matemática e notei que muitas pessoas não evoluem em seus futuros pela
                    dificuldade no básico e falta de oportunidade.
                    Então sigo meu desejo de mudar vidas através de videos aulas acessíveis, do básico ao avançado.
                  </p>
                  <a href="#" class="card-link">Ver perfil</a>
                  <a href="#" class="card-link">visitar as aulas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /prova social -->


  <!--Paralaxxx-->

  <div class="parallax"></div>

  <!--/Paralaxxx-->


  <!-- missão e valores -->

  <div class="container tamanho-1">

    <div class="row mt-5 mb-5">
      <div class="col-md-4">

        <img src="../../assets/img/escolar8.png" class="img-teste" alt="Um desenho. Criança em frente ao computador está sorrindo e interagindo com uma professora" srcset="">
      </div>
      <div class="col-md-8 subtam-1">
        <h3 class= "text-center text-monospace" > Acreditamos que juntos temos mais força!</h3>
        <ul class="nav nav-tabs subtam-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Missão</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Visão</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Valores</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="alert alert-secondary">
              <p>
                Segundo relatórios da ONU, diversas crianças e jovens seguem sem aprender o mínimo necessário para se
                desenvolverem. Com isso, nasceu a Aspas, uma rede social que une alunos e tutores de todo o país em prol
                da construção de uma educação primária e secundária de qualidade, por meio de abordagens dinâmicas e
                atrativas.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="alert alert-success">
              <p>
                Visão pode ser entendido como o destino final em que se quer chegar. É a revelação do que se espera para a empresa. Podemos dizer que é um sonho com data para acontecer. O que esperamos que aconteça com a nossa empresa nos próximos 05 ou 10 anos? Que as pessoas se unam em prol da educação. As ações estratégicas da empresa é juntar as pessoas, mesmo que seja um caminho longo.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="alert alert-info">
              <p>
                Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit
                hendrerit. Aenean sit amet nisi. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
                vulputate dapibus. Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in eros commodo
                tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /missão e valores -->

 
  <!-- quem somos-->

  <section class="container-fluid colorV-bg">
    <h3 class="text-alinha text-center text-monospace">Quem somos?</h3>
    <h4 class="text-center">Conheça nosso time de desenvoledores.</h4>
    <div class="row quem-somos container_">
     
      <div class="col-2 card-container_">
        
        <div class="card_">
          <figure class="front front-1">
          </figure>  
          <figure class="back">
            <a href="https://br.linkedin.com/in/christian-garcia-amantino-0775101a7" target="_blank" class="socialIconsCards"><fa-icon [icon]="faLinkedinIn" class="faLinkedin fa-2x"></fa-icon></a>
            <a href="https://github.com/ChrisAmantino" target="_blank"class="socialIconsCards"><fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon></a>
            <h5 class="text-center">Christian Amantino</h5>
          </figure>  
        </div>  
      </div>
      <div class="col-2 card-container_">
        <div class="card_">
          <figure class="front front-2">
          </figure>  
          <figure class="back">
            <a href="https://www.linkedin.com/in/jferreira33/" target="_blank" class="socialIconsCards"><fa-icon [icon]="faLinkedinIn" class="faLinkedin fa-2x"></fa-icon></a>
            <a href="https://github.com/jonathanferreira33" target="_blank" class="socialIconsCards"><fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon></a>
            <h5 class="text-center">Jonathan Ferreira</h5>
          </figure>  
        </div>  
      </div>
      <div class="col-2 card-container_">
        <div class="card_">
          <figure class="front front-3">
          </figure>  
          <figure class="back">
            <a href="https://www.linkedin.com/in/juliana-cavalaro/" target="_blank" class="socialIconsCards"><fa-icon [icon]="faLinkedinIn" class="faLinkedin fa-2x"></fa-icon></a>
            <a href="https://github.com/Julianacavalaro" target="_blank" class="socialIconsCards"><fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon></a>
            <h5 class="text-center">Juliana Cavalaro</h5>
          </figure>  
        </div>  
      </div>
      <div class="col-2 card-container_">
        <div class="card_">
          <figure class="front front-4">
          </figure>  
          <figure class="back">
            <a href="#" target="_blank" class="socialIconsCards"><fa-icon [icon]="faLinkedinIn" class="faLinkedin fa-2x"></fa-icon></a>
            <a href="#" target="_blank" class="socialIconsCards"><fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon></a>
            <h5 class="text-center">Stefanie Dias</h5>
          </figure>  
        </div>  
      </div>
      <div class="col-2 card-container_">
        <div class="card_">
          <figure class="front front-5">
          </figure>  
          <figure class="back">
            <a href="https://www.linkedin.com/in/vivian-nakano/" target="_blank" class="socialIconsCards"><fa-icon [icon]="faLinkedinIn" class="faLinkedin fa-2x"></fa-icon></a>
            <a href="https://github.com/vivian-nakano" target="_blank" class="socialIconsCards"><fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon></a>
            <h5 class="text-center">Vivian Nakano</h5>
          </figure>  
        </div>  
      </div>
    </div>
  </section>

   <!-- /quem somos-->

</section>