.card-color {
    background-color:#7377a096;
}
.shadow{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(34, 33, 33, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(34, 33, 33, 0.5));
}

.borda {
    border-radius: 25px;
}

.bg-estrela {
    background-image: url("../../assets/img/estrelas-home.gif");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
/* Posição do botao lampadinha */
.position {
    position:fixed;
    bottom: 550px;
    right: -10px;
}