<div class="container-fluid">

<div class="container-fluid d-flex justify-content-center" id="topo">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">

      <div class="col-lg-6 order-1" id="mascotetopo">
        <img src="../../assets/img/aspinhas-fala.png" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up" data-aos-delay="200">
      </div>
      
    </div>
  </div>
</div>

<div class="container w-100 ajuste-tela">
  <h2 class="text-center">Por que ingressar na ASPAS ?</h2>
  <div class="row mt-5 mb-5">
    <div class="col-sm-6">
      <div class="card shadow">
        <div class="card-body colorA-bg">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
          </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card shadow">
        <div class="card-body colorV-bg">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
          </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card shadow">
        <div class="card-body colorv-bg">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
          </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card shadow">
        <div class="card-body colorAz-bg">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.
          </p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>
  <span class="icone-scroll">
    <span class="scroll-next scroll"></span>
  </span>
</div>



</div>