.bg-estrela {
    background-image: url("../../assets/img/estrelas.gif");
}

.body {
    background-color: #F0FFFF;
}

.parallax {
    background-image: url("../../assets/img/parallax-lampada.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;

}