<section class="bg">

  <div class="container-fluid bg-estrela d-flex justify-content-center" id="topo">
    <div class="row">

      <div class="d-flex justify-content-center col-md-5 order-1 mt-5" id="mascotetopo">
        <img src="../../assets/img/mascote.png" alt="Mascote da plataforma (Lâmpada amarela com sorriso)">
      </div>

      <div class="col-md-7 d-flex justify-content-center">
        
        <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">

          <h2 class="text-light">Olá, eu sou a Lampadinha!</h2>
          <h3 class="text-light text-justify"> Muito prazer em te conhecer! Estou aqui para facilitar seu aprendizado. Se precisar de ajuda pode contar comigo.</h3>
          <div class="d-flex justify-content-center d-lg-flex">
            <button href="#ancora" type="button" class="btn btn-light mt-3">Me conheça melhor!</button>
          </div>
        </div>

      </div>
    </div>
  </div>
<div class="container w-100" id="ancora">

  <h2 class="text-center mt-4">Como funciona nosso mascote?</h2>
 
</div>


<div class="container-fluid mt-5">
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  <div class="col-md-3">
    <div class="card border-0 body">
      <img src="https://www.flaticon.com/svg/static/icons/svg/3902/3902077.svg" class="card-img-top" alt="..." width="200" height="120">
      <div class="card-body">
        <h5 class="card-title text-center">Orientação</h5>
        <p class="card-text text-justify">A Lampadinha te instigará a buscar as respostas, mas não mostrá-las prontas. Ela acredita que isto faz parte do processo de aprendizagem. </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-0 body">
      <img src="https://www.flaticon.com/svg/static/icons/svg/2910/2910890.svg" class="card-img-top" alt="..." width="200" height="120">
      <div class="card-body">
        <h5 class="card-title text-center">Interação</h5>
        <p class="card-text text-justify">Ela vai estar próxima de você sempre que precisar. Basta clicar que algumas perguntas e instruções serão feitas para te auxiliar no seu aprendizado. </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-0 body">
      <img src="https://www.flaticon.com/svg/static/icons/svg/993/993515.svg" class="card-img-top" alt="..." width="200" height="120">
      <div class="card-body">
        <h5 class="card-title text-center">Paciência</h5>
        <p class="card-text text-justify">Ela acredita que o processo de aprendizagem de cada é único, desta forma ela respeita o seu tempo.</p>
      </div>
    </div>
  </div>

</div>

</div>

<div class="parallax mt-3"></div>

<div class="container w-100" id="ancora">

  <h2 class="text-center mt-4">Você conhece alguma dessas técnicas de estudo?</h2>
 
</div>

<div class="container mt-5 mb-3">

<div class="row featurette">
  <div class="col-md-7 align-self-center">
    <h2 class="featurette-heading">Técnica Pomodoro <span class="text-muted"></span></h2>
    <p class="lead">Consiste em realizar tarefas por um período de 25 minutos, separado por breves intervalos de 5 minutos. Após realizar quatro pausas de 25 minutos, você tem direito a um descanso de 30 minutos.
      Justo, não é? Prepare um cronômetro e partiu estudar!</p>
  </div>
  <div class="d-flex justify-content-center col-md-5 d-flex justify-content-end">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFw590ZedzOPctosoXKG9bA6Zt55Sen8W4rw&usqp=CAU" alt="Imagem que representa a técnica pomodoro: tomates com cronômetro" width="300" height="250">

  </div>

</div>

<hr>

<div class="row featurette mt-3">
  <div class="col-md-7 order-md-2 align-self-center">
    <h2 class="featurette-heading">Mapas mentais <span class="text-muted"></span></h2>
    <p class="lead">
      Mapa mental é uma técnica de estudo criada no final da década de 1960 por Tony Buzan. Ela consiste em criar resumos cheios de símbolos, cores, setas e frases de efeito com o objetivo de organizar o conteúdo e facilitar associações entre as informações destacadas.
    </p>
  </div>
  <div class="d-flex justify-content-center col-md-5 order-md-1  d-flex justify-content-start">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3815/3815377.svg"  alt="Uma imagem que representa um mapa mental: diagrama com cores, setas, quadrados, etc." width="350" height="200">

  </div>
</div>

<hr>

<div class="row featurette">
  <div class="col-md-7 align-self-center">
    <h2 class="featurette-heading">Autoexplicação <span class="text-muted"></span></h2>
    <p class="lead">Técnica muito útil para aprendizagem de diversos conteúdos. Após ler ou assistir um vídeo sobre um conteúdo, você deve explicá-lo com suas próprias palavras. Prepare o professor ou professora que existe no seu interior!</p>
  </div>
  <div class="d-flex justify-content-center col-md-5  d-flex justify-content-end">
    <img src="../../assets/img/educacao-gif.gif"  alt="Dois bonecos que movimentam e com falando." width="300" height="180">
    
  </div>

</div>


</div>





</section>