<div class="container">

    <div class="row w-100">
        <div class="col-md-4">
            <h1> Lateral esquerda </h1>
        </div>

        <div class="col-md-8">

            <div class="row d-flex justify-content-center">

                <img class="card-img-top rounded-circle w-25"
                    src="https://www.quartinhos.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/a/papel_de_parede_floral_aquarela_fb.jpg"
                    alt="Imagem de capa do card">

            </div>

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="exemplo@exemplo.com">
                    <small id="emailHelp" class="form-text text-muted">Coloque seu e-mail preferido.</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mantenha-me conectado. </label>
                </div>
                <div class="botao d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-5">Embarque na nave Aspas</button>
                </div>

            </form>

        </div>

    </div>
</div>