.card-color {
    background-color:#43ABAC;
}

.borda {
    border-radius: 25px;
}

/*.overlay { position:absolute; top: 90px; left: 550px; }

   Esconde a dive de classe Overlay caso seja identificado que o width Mobile maximo deseja igual ou menor que 980px
    @media only screen and (max-width: 980px){
        .overlay { display: none; }
    }*/


