<div class="container-fluid d-flex justify-content-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <div class="row">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-8">
                <nav class="navbar navbar-light">
                    <a class="navbar-brand text-monospace texto-logo" href="#">
                        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="" loading="lazy">
                        Aspas
                    </a>
                </nav>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-4"
                                routerLink='/#'>Home
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-4"
                                routerLink='/#'>Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-4"
                                routerLink='/#'>Cadastro</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>

</div>